/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1, h2, h4, h5, h6 {
  font-family: 'Alex Brush', cursive;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #f7a3c3;
}

/* Header Styles */
header {
  background: linear-gradient(45deg, #f2a8c4, #f75090);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  height: 65px;
}

.navbar-nav .nav-item .nav-link {
  color: #333;
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: #f7a3c3;
}

.navbar-nav .nav-item .nav-link.active {
  border-left: 5px solid #f75090;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  display: inline;
  text-decoration: none;
}


.ul{
  text-decoration: none;
}

.menu a {
  font-size: 16px;
  font-weight: bold;
}

/* Intro Section */
.intro {
  background: url('assets/img/intro-bg.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 24px;
  margin-bottom: 40px;
}

.intro .btn {
  background-color: #f7a3c3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.intro .btn:hover {
  background-color: #f7a3c3;
}

/* Profile Section */
.profile {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
}




.profile-card .header {
  margin: 20px;
}

.profile-card .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -75px;
  border: 5px solid #fff;
}

.profile-card .container {
  padding: 20px;
}

.profile-card h1 {
  font-size: 40px;
  margin: 10px 0;
}

.profile-card p {
  font-size: 16px;
  margin: 5px 0;
}

.profile-card a {
  display: inline-block;
  margin-top: 10px;
  color: #f7a3c3;
}

.profile-card a:hover {
  color: #f7a3c3;
}

/* Content Columns */
.content-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-columns section {
  flex: 1;
  min-width: 500px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
}

.content-columns h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.educacion-parrafo .education-item {
  margin-bottom: 20px;
  border-left: 5px solid #f75090;
  padding-left: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.educacion-parrafo .education-item p {
  margin: 5px 0;
}

.certificado {
  border-radius: 10px;
  height: 100%;
}

.certificado-parrafo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.certificado-item {
  flex: 1 1 calc(50% - 20px);
  background-color: #f9f9f9;
  border-left: 5px solid #f75090;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.certificado-item p {
  margin: 5px 0;
}

/* Skills Section */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #f75090;
  text-align: left;
  font-size: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-item h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.skill-item p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}



.skill-item .bar {
  height: 8px;
  background-color: #f75090;
  border-radius: 5px;
  margin-bottom: 10px;
}

.skill-item .level {
  font-size: 12px;
  color: #999;
}


.profile {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
}

.profile-card {
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.project-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-item p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.project-item .project-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #f34b7d;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.project-item .project-link:hover {
  background-color: #0056b3;
}

/* Language bar styles */
.language-bar {
  margin-top: 15px;
  height: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.language-bar .bar {
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 0.9em;
  transition: width 0.3s;
}

.bar.javascript {
  background-color: #f0db4f;
}

.bar.python {
  background-color: #3572a5;
}

.bar.java {
  background-color: #b07219;
}

.bar.php {
  background-color: #4f5d95;
}

.bar.html {
  background-color: #e34c26;
}

.bar.css {
  background-color: #4598d3;
}

.bar.ruby {
  background-color: #701516;
}

.bar.cplusplus {
  background-color: #f34b7d;
}

.bar.csharp {
  background-color: #178600;
}

.bar.typescript {
  background-color: #2b7489;
}

.bar.scss {
  background-color: #c6538c;
}

.bar.kotlin {
  background-color: #f18e33;
}

.bar.other {
  background-color: #ccc;
}


/* Testimonials Section */
.testimonials {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
}

.testimonials .testimonial-item {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 5px solid #f75090;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.testimonials h3 {
  margin-top: 10px;
}

/* Contact Section */
.contact {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact button {
  background-color: #f75090;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #f2a8c4;
}

.social-media a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.social-media a:hover {
  color: #f75090;
}

/* Progress Section */
.progreso {
  background-color: #fff;
  padding: 40px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  border-radius: 10px;
}

.progreso h2 {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
  color: #333;
  
}

.progress-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.progress-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 360px;
  text-align: center;
}

.progress-images {
  display: flex;
  gap: 10px;
}

.progress-images img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.progress-item img {
  height: 300px;
  object-fit: cover;
}

.progress-item h3 {
  font-size: 24px;
  margin: 15px 0;
  color: #f75090;
}

.progress-item p {
  font-size: 16px;
  color: #666;
  padding: 0 15px 15px;
}

/* Competencias Section */
.competencias {
  background-color: #fff;
  padding: 40px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  border-radius: 10px;
}

.competencias h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #020202;
}

.competencias-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.competencia-item {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competencia-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.competencia-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f75090;
}

.competencia-item p {
  font-size: 16px;
  color: #666;
}
.competencia-item img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competencia-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer Section */
footer {
  background-color: #f75090;
  padding: 20px;
  text-align: center;
}